.boton.siete {
    position: relative;
    overflow: hidden; 
}

.boton.siete::before,
.boton.siete::after {
    content: "";
    width: 50%;
    height: 100%;
    background: #634EE8;
    position: absolute;
    top: 0;
    transition: transform .4s ease-in-out;
}

.boton.siete::before {
    left: -50%;
    transform-origin: left;
}

.boton.siete::after {
    right: -50%;
    transform-origin: right;
}

.boton.siete:hover::before {
    transform: translateX(100%);
}

.boton.siete:hover::after {
    transform: translateX(-100%);
}

.boton.siete:hover {
    z-index: 1;
}
